// VARIABLES IMPORT
@import "./partial/variables.scss";

// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
// font-family: 'Merriweather', serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;

// RESET 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// CONTAINER 
.container{
    margin: auto;
    width: 90%;
}

// GRID 
.grid-span-2{
    grid-column: span 2;
}


// GLOBAL

// buttons 

.button-purple{
    border: none;
    border-radius: 6px 6px;
    background-color: $daisy-bush;
    padding: 10px 30px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
}
.button-white{
    border: none;
    border-radius: 6px 6px;
    background-color: white;
    padding: 10px 30px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: $daisy-bush;
    cursor: pointer;
}

// title header
.title-header{
    font-size: 14px;
    text-transform: uppercase;
    color: #929295;
    font-family: 'Roboto', sans-serif;
}
// title 
.title{
    font-size: 30px;
    font-weight: 900;
    color: $daisy-bush;
    margin: 20px 0;
    font-family: 'Merriweather', serif;
}
// subtitles paragh
.subtitle-p{
    font-size: 17px;
    color: #878589;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
