// VARIABLES IMPORT
@import "./partial/variables.scss";

// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
// font-family: 'Merriweather', serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;

// RESET 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// CONTAINER 
.container{
    margin: auto;
    width: 90%;
}


// GLOBAL

