// to import in components
// @import "../../assets/style/partial/variables.scss";


// COLOR
$daisy-bush: #5b2ca2;
$manatee: #929295;
$mamba:#878589;
$pearl-bush:#e9dedc;
$atoll:#0a5d6c;
$chalky:#f0caa1;

// FONT 
$roboto: 'Roboto', sans-serif;
$merriweather: 'Merriweather', serif;

